<?xml version="1.0"?>
<launch>
  <arg name="joy" default="false"/>
  <arg name="isJoint" default="true"/>
  <arg name="output" default="log"/>

  <node name="dobby" pkg="m1_controller" type="m1_controller" output="$(arg output)">
    <rosparam command="load" file="$(find m1_launch)/config/m1_param.yaml"/>
  </node>

  <group if="$(arg joy)">
    <node name="joy_node" pkg="joy" type="joy_node">
      <param name="autorepeat_rate" value="10.0"/>
      <param name="dev" value="/dev/input/js0"/>
    </node>
    <node name="m1_joy_commander" pkg="m1_joy" type="m1_joy_commander">
      <param name="autorepeat_rate" value="${arg isJoint}"/>
    </node>
  </group>

</launch>